@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=BhuTuka+Expanded+One&family=Hanken+Grotesk:wght@500;700;800&family=Kumbh+Sans:wght@400;700&family=Open+Sans&family=Oswald:wght@500&family=Outfit:wght@400;700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins&family=Roboto:ital,wght@1,700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    font-family: 'Plus Jakarta Sans', sans-serif;
    justify-content: center;
    align-items: center;
}
.container{
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: welcome 3s linear 1 normal none ;
		
}
.orangebox{
    margin-top: 20px;
    width: 343px;
height: 120px;
background: var(--Gradient-1, linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.orangebox p{
    width: 286px;
    color: var(--FFFFFF, #FFF);
font-size: 24px;
font-style: normal;
font-weight: 800;

}
header , footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    
}
header button, footer button{
   width: 140px;
   height: 48px;
  background-color: #13183F;
  border-radius: 28px;
margin-right: 10px;
}
header button, footer button , .box1 button{
    border: none;
  font-size: 16px;
font-style: normal;
font-weight: 700;
color: white;
font-family: 'Plus Jakarta Sans', sans-serif;
}
.box2{
    display: flex;
    justify-content: center;
    position: relative;
}
h1{
    color: #13183F;
    font-size: 40px;
font-style: normal;
font-weight: 800;
padding-left: 10px;
}
h3{
   
padding-left: 10px;
}
h3, .smalltext{
    color: var(--83869A, #83869A);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.box1 button {
    margin-top: 30px;
    width: 167px;
    height: 56px;
    border: none;
    border-radius: 31.5px;
    background: var(--Gradient-1, linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));    
margin-left: 10px;
}
.circle{
    position: relative;
    left: 12%;
    width: 255px;
    height: 255px;
    border-radius: 160px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%); ;
}
.poto{
    position: absolute;
    top: 8%;
    left:3%;
    border-radius: 120%;
}
.txtbox1, .txtbox2{
    border: none;
    display: block;
    width: 85px;
    height: 85px;
   background-color: white;
    border-radius: 10px;
    position: relative;
    right: 10%;

}
h4 {
    position: absolute;
    top: -14%;
    left: 8%;
    color: var(--83869A, #83869A);
font-size:14px;
font-style: normal;
font-weight: 700;
line-height: 28px;
}
h5{
    position: absolute;
    top: -21%;
    left: 8%;
    color: var(--13183F, #13183F);
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.txtbox2{
    width: 150px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
h6{
    position: absolute;
    top: -20%;
    left: 15%;
    color: var(--83869A, #83869A);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 28px;
}
.txtbox2 p{
    position: absolute;
    top: 10%;
    left: 15%;
    color: var(--13183F, #13183F);
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.imagenone , .poto1{
    display: none;

}
.divBox, .box1 , .box2{
    margin-top: 20px;
}
.desktopimage{
    display: none;
}
.smalltext{
    position: absolute;
    width: 286px;
    top: 40%;
    left: 5%;
    color: var(--83869A, #83869A);

}
.headlines{
position: absolute;
top: 25%;
left: 5%;
color: var(--13183F, #13183F);
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.icons{
    position: absolute;
    top: -5%;
    left: 5%;
}

.categorybox{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.category{
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
    position: relative;
    margin-top: 40px;
    width: 343px;
    height: 260px;
    background-color: white;
    border-radius: 10px;
}
.categorybox button{
    
    background-color: rgba(247, 71, 128, 1);
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 150px;
    border-radius: 10px;
    border: none;
    color: white;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
}
.categorybox button:hover{
    background-color: green;
    transition: 1s;
}
footer{ 
    height: 120px;
    background-color: #13183F;
}
h2{
    color: var(--13183F, #13183F);
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-left: 10px;
}
footer button{
    background: var(--Gradient-2, linear-gradient(180deg, #4851FF 0%, #F02AA6 100%));
    
}
footer h2{
    color: white;
}
@keyframes welcome{
			
    0% {
        transform:scale(0);
        transform-origin:50% 0%;
        opacity:1;
    }
    100% {
        transform:scale(1);
        transform-origin:50% 0%;
        opacity:1;
    }
}