@media (width> 768px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    
    }
    
    .divBox{
        display: grid;
        grid-template-columns: auto auto;
    width: 768px;
    height: auto;
    }
    .container{
width: 768px;
display: grid;
justify-content: center;
animation-name: welcome 4s linear 1 alternate;
		
    }
    header{
width: 768px;        
    }
    h2, h1, h3 {
        padding-left: 40px;
    }
    .box1 button{
        margin-left: 40px;
    }
    .desktopimage{
        display: none;
    }
    .imagenone{
        display: flex;
        width: 300px;
height: 688.557px;
transform: rotate(0deg);
flex-shrink: 0;
position: absolute;
top: -30%;
right: 0;
z-index: -1;

    }
    .poto{
        display: none;
    }
    .poto1{
       display: flex;
       position: absolute;
       left: -6%;
       top: 19%;
       border-radius: 80%;
       width: 224px;
    }
    .circle {
        position: relative;
        height: 400px;
        width: 205px;
        left: -3%;
        top: 1%;
        border: none;
    }
    
    .txtbox1{
        position: relative;
        top: -5%;
        right: 20%;
    }
    .txtbox2{
        position: absolute;
        top: 85%;
        left: -12%;
    }
    h1{
        width: 326px;
        color: var(--13183F, #13183F);
font-feature-settings: 'clig' off, 'liga' off;

/* Heading L */
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    h3{
        width: 387px;
    }
    .categorybox{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        margin-top: 80px;
    }
    .orangebox{
        width: 340px;
        height: 260px;
    }
    footer{
        display: flex;
        justify-content: space-evenly;
        margin-top: 85px;
        gap: 450px;
    }
    footer button , header button{
        margin-right: 40px;
    }
}
@keyframes welcome{
			
    0% {
        transform:scale(7);
        animation-timing-function:ease-in;
        opacity:0;
    }
    35% {
        transform:scale(1);
        animation-timing-function:ease-out;
        opacity:1;
    }
    55% {
        transform:scale(1.5);
        animation-timing-function:ease-in;
    }
    70% {
        transform:scale(1);
        animation-timing-function:ease-out;
    }
    80% {
        transform:scale(1.24);
        animation-timing-function:ease-in;
    }
    90% {
        transform:scale(1);
        animation-timing-function:ease-out;
    }
    95% {
        transform:scale(1.04);
        animation-timing-function:ease-in;
    }
    100% {
        transform:scale(1);
        animation-timing-function:ease-out;
    }
}